<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>
<% if current_user %>
    <ul>
        <li><%= link_to "New Image", new_image_path %></li>
        <li><%= link_to "LogOut", destroy_user_session_path %></li>
    </ul>
<% else %>
  <ul>
      <li><%= link_to "LogIn", new_user_session_path %></li>
      <li><%= link_to "SignUp", new_user_registration_path %></li>
  </ul>
<% end %>
<h1>Images</h1>

</body>
</html>